@import "scss/components/hamburgers/hamburgers";

.mobile-menu {
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
}

.hamburger {
  margin-left: -8px;
}

.menu-window {
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  background: #FFFFFF;
  z-index: 999;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: .1s ease-in;
  overflow-y: auto;

  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

.static-menu-list {
  display: flex;
  flex-direction: column;
  padding: 40px 0 20px;
  border-top: 1px solid #EAEAEA;
  margin-top: 32px;

  > a {
    font-size: 20px;
    line-height: 130%;
    padding: 12px 0;
  }
}
