.menu {
  display: flex;

  @media (max-width: 1024px) {
    display: none;
  }

  > ul {
    display: contents;
    list-style: none;
  }

  a {
    font-size: 20px;
    line-height: 27px;
    color: #000;
    display: block;
    padding: 8px 24px;
  }

  .link {
    &.has-children {
      background-image: url("~assets/icons/down.svg");
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: calc(100% - 3px) 20px;
    }
    &.active {
      > a {
        color: #777777;
      }
      background-image: url("~assets/icons/down-active.svg");
    }
    &.active .drop {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  .drop {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: .1s ease-in;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    padding: 8px 0;

    a:hover {
      color: #777777;
    }
  }
}
