.property-selector {
  margin-bottom: 35px;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
  }

  &__property-list {
    display: flex;
    padding: 11px 0 0;

    &--big {
      flex-wrap: wrap;
    }
  }

  &__property-list--big &__property {
    padding: 0 27px;
    min-width: max-content;
    text-transform: none;
  }

  &__property {
    min-width: 52px;
    height: 52px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 11px 5px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;
    transition: .1s ease-in;
    user-select: none;

    &.active {
      border-color: #000;
      background: #000;
      color: #fff;
    }

    &:hover {
      border-color: #000;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}

